@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Noto+Serif+TC:wght@700&family=Zen+Old+Mincho:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0&display=swap");
/* Variables */
:root {
  /* color */
  --bg-primary: #fbfbfb;
  --bg-secondary: #f4f3f1;
  --bg-g-primary: #f4f3f1;
  --bg-g-secondary: #fbfbfb;
  --bg-g-teritary: #e8e0d1;
  --label-primary: #333;
  --label-secondary: #999;
  --label-dark-primary: #fff;
  --accent: #bfa980;
  --accent-light: #ffa056;
  --accent-dark: #827357;
  --accent-dark-opacity: rgb(130 115 87 / 75%);
  --accent-restaurant: #ffa056;
  --accent-cafe: rgb(130 73 3 / 65%);
  --accent-bar: #ffa056;
  --accent-takeout: #ffa056;
  --accent-red: #ff383c;
  --accent-yellow: #ffcc00;
  --accent-green: #34c759;
  --accent-blue: #0088ff;
  --accent-purple: #cb30e0;
  --accent-pink: #ff2d55;
  /* size */
  --m-padding-x: 16px;
  --m-padding-y: 8px;
  --padding-primary: 22px;
  --gap-section: 48px;
  --gap-primary: 20px;
  --gap-secondary: 10px;
  --border-radius: 38px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: transparent;
}

li {
  list-style-type: none;
}

summary {
  display: block;
}

/* mobile */

body {
  background-color: var(--bg-primary);
}

section {
  padding: var(--gap-section) 0;
}

.container {
  padding: var(--m-padding-y) var(--m-padding-x);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

h2,
h3,
h4 {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
}

h2 {
  font-size: 2.75rem;
  letter-spacing: 0.125rem;
  line-height: 3.5rem;
  margin-bottom: var(--gap-secondary);
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.0313rem;
}

h4{
  font-size: 1.25rem;
}

p{
  font-family: sans-serif;
}

h2 + p,
h3 + p {
  margin-bottom: var(--gap-primary);
}

.btn {
  color: var(--bg-primary);
  background: var(--accent);
  border-radius: var(--border-radius);
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0.5rem 1rem;
  margin: var(--gap-primary) auto;
  display: block;
  text-align: center;
}

.btn:hover {
  background: var(--accent-light);
}

.btn:active {
  background: var(--accent-dark);
}

.seperator {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  margin: var(--gap-secondary) 0;
  background: var(--bg-secondary);
}


/* header */

header {
  background: var(--accent-dark);
  position: fixed;
  width: 100%;
  z-index: 2;
}

header .container {
  align-items: center;
  flex-wrap: wrap;
  container-type: inline-size;
  flex-direction: row;
}

.logo > img {
  height: 40px;
  object-fit: cover;
}

header .btn {
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 46px;
}

nav {
  display: flex;
  align-items: flex-end;
  gap: var(--gap-primary);
}

nav summary::after {
  display: inline-block;
  font-family: "Material Symbols Rounded";
  content: "\e5d2";
  font-size: 24px;
  color: var(--label-dark-primary);
}

nav details[open] > summary::after {
  content: "\e9bd";
}

nav details {
  position: relative;
}

nav ul {
  position: absolute;
  top: 52px;
  right: 0;
  display: flex;
  background: var(--bg-g-teritary);
  flex-direction: column;
  padding: var(--gap-primary) 0;
  gap: var(--gap-secondary);
  border-radius: var(--border-radius);
  box-shadow: 0 0 12px rgb(0 0 0 / 15%);
}

nav a {
  display: block;
  width: 100cqw;
  line-height: 2rem;
  text-align: center;
}

/* End header */

/* Banner */

#Banner {
  padding-top: calc(var(--gap-section) + 60px);
  background: var(--bg-secondary);
}

#Banner h2 {
  font-size: 2.75rem;
  font-family: "Zen Old Mincho", serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

#Banner h2 + p {
  text-align: center;
}

#Banner h2:first-child::before {
  content: " ";
  padding-left: 2.25rem;
}

.carousel {
  width: 100%;
  height: 60vh;
  display: flex;
  gap: var(--gap-secondary);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  anchor-name: --carousel;
}

.carousel > li {
  flex: 0 0 100%;
  background: var(--bg-secondary);
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carousel::scroll-button(*) {
  border: none;
  position: absolute;
  position-anchor: --carousel;
  top: calc(anchor(top) + 30vh - 40px);
  font-size: 20px;
  line-height: 40px;
  background: none;
  cursor: pointer;
}

.carousel::scroll-button(left) {
  font-family: "Material Symbols Rounded";
  content: "\e5e0" / "Previous";
  left: var(--m-padding-x);
}

.carousel::scroll-button(right) {
  font-family: "Material Symbols Rounded";
  content: "\e5e1" / "Next";
  right: var(--m-padding-x);
}

.carousel::scroll-marker-group {
  position: absolute;
  position-anchor: --carousel;
  top: calc(anchor(bottom) + 10px);
  left: anchor(center);
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}

li::scroll-marker {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  border: none;
  border-radius: 50%;
  background: var(--accent);
}

li::scroll-marker:target-current {
  background-color: var(--accent-dark);
}

#Banner li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* End banner */

/* Feature-1 */

.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* End feature-1 */

/* Feedback */

#Feedback {
  background: var(--bg-g-primary);
}

.feedback-item {
  background: var(--bg-g-secondary);
  padding: calc(var(--gap-primary) + 8px);
  border-radius: var(--border-radius);
  margin-bottom: var(--gap-primary);
  position: relative;
}

.feedback-item > p {
  margin-bottom: var(--gap-secondary);
}

.card-header {
  display: flex;
  gap: var(--gap-secondary);
  align-items: center;
  color: var(--label-secondary);
}

.profile-photo {
  height: 36px;
}

.profile-photo > img {
  border-radius: 100px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}

.text-group > h4 {
  margin-top: 5px;
  margin-left: 3px;
}

.feedback-item > span {
  position: absolute;
  font-size: 48px;
  color: var(--accent);
}

.feedback-item > span:first-child {
  top: calc((var(--gap-primary) + 2px) * -1);
  left: 4vw;
  transform: rotateZ(180deg);
}

.feedback-item > span:nth-child(2) {
  bottom: calc((var(--gap-primary) + 2px) * -1);
  right: 4vw;
}

/* End feedback */

/* Feature-more */

.feature-group {
  margin-top: var(--gap-primary);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: var(--gap-secondary);
}

.feature-card-img img {
  height: 320px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.feature-card {
  background: var(--bg-g-secondary);
  border-radius: var(--border-radius);
  min-width: 280px;
  flex: 0 0 90%;
}

.feature-card-body {
  padding: var(--gap-primary);
  padding-top: var(--gap-secondary);
}

/* End feature-more */

/* CTA */

.marquee {
  width: 100%;
  overflow: hidden;
  --duration: 20s;
  --item-width: 140px;
  --num-of-items: 6;
  --item-gap: 10px;
  --track-width: calc(
    (var(--item-width) + var(--item-gap)) * (var(--num-of-items) - 1)
  );
  /* -1是會有一個marquee item在休息，所以寬度可以少一格。控制gap也比較方便 */
}

.marquee-track {
  container-type: inline-size;
  width: max-content;
  height: 200px;
  display: grid;
  grid-template-columns: var(--track-width) [onstage] 0px [standby];
}

.marquee-track img {
  width: var(--item-width);
  height: auto;
  left: 0;
  grid-area: standby;
  animation: linear var(--duration) marquee-run infinite;
  animation-delay: calc(
    var(--duration) / var(--num-of-items) * var(--item-sequence) * -1
  );
}

.marquee-track:hover img {
  animation-play-state: paused;
}

.marquee-track img:first-child {
  --item-sequence: 1;
}

.marquee-track img:nth-child(2) {
  --item-sequence: 2;
}

.marquee-track img:nth-child(3) {
  --item-sequence: 3;
}

.marquee-track img:nth-child(4) {
  --item-sequence: 4;
}

.marquee-track img:nth-child(5) {
  --item-sequence: 5;
}

.marquee-track img:nth-child(6) {
  --item-sequence: 6;
}

@keyframes marquee-run {
  0% {
  }
  100% {
    transform: translateX(calc(-100cqw - 100%));
  }
}
/* End CTA */

/* Freq-asked */

#Freq-asked {
  background: var(--bg-g-primary);
}

#Freq-asked details {
  margin-bottom: var(--gap-secondary);
}

#Freq-asked details[open] {
  margin-bottom: calc(var(--gap-secondary) + 20px);
}

#Freq-asked summary {
  font-size: 1.5rem;
  line-height: 2.25rem;
  width: calc(100% - 2.5rem);
}

#Freq-asked summary::after {
  /* display: inline-block; */
  font-family: "Material Symbols Rounded";
  content: "\e5e1";
  transition: 0.2s;
  position: absolute;
  right: var(--m-padding-x);
  line-height: 2.25rem;
}

#Freq-asked details[open] > summary::after {
  transform: rotate(90deg);
}

/* End freq-asked */

/* News */
#News > .container {
  flex-direction: row;
  flex-wrap: wrap;
}

#product,
#food,
#journaling {
  display: none;
}

#News label {
  cursor: pointer;
  display: block;
  text-align: center;
  width: 32%;
  border-radius: 40px;
  background: var(--bg-secondary);
  line-height: 2rem;
}

#News input[type="radio"]:checked + label {
  background: var(--bg-g-teritary);
  transition: 0.2s;
}

.news-intro {
  width: 100%;
}

.news-group {
  display: none;
}

.tabs-radio:checked + label + .news-group {
  display: initial;
  order: 1;
  width: 100%;
  margin-top: var(--gap-primary);
}

.news-card {
  background: var(--bg-secondary);
  border-radius: var(--border-radius);
  margin-bottom: var(--gap-secondary);
  padding: var(--gap-primary);
}

.news-card-img {
  height: 240px;
  background: var(--bg-g-teritary);
  color: var(--accent-dark);
  border-radius: calc(var(--border-radius) - var(--gap-primary));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--gap-primary);
}

.news-card-img span {
  font-size: 108px;
}

.news-card-img .tag {
  position: absolute;
  color: var(--label-dark-primary);
  font-weight: 700;
  top: var(--gap-secondary);
  right: var(--gap-secondary);
  background: var(--accent-dark-opacity);
  padding: 4px 10px;
  border-radius: calc(
    var(--border-radius) - var(--gap-primary) - var(--gap-secondary)
  );
}

.news-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: calc(var(--border-radius) - var(--gap-primary));
}

.news-card h4,
.news-card p,
.news-card .btn-text {
  margin-bottom: var(--gap-secondary);
}

.btn-text {
  display: block;
}

.news-card-footer {
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  text-align: right;
  color: var(--label-secondary);
  padding-top: var(--gap-secondary);
}

/* End news */

/* footer */

footer{
  background: var(--accent-dark);
  color: var(--label-dark-primary);
  padding-top: var(--gap-section);
}

footer h4{
  margin-bottom: 12px;
}

h5{
  font-size: .875rem;
  margin: 4px 0;
}

footer ul{
  margin-bottom: 8px;
}

footer li, footer p{
  font-size: .8125rem;
}

footer a{
  color: var(--label-dark-primary);
}

footer p{
  text-align: center;
}

/* End footer */