/* Variables */
:root {
  /* color */
  --bg-primary: #fff;
  --bg-secondary: #f2f2f7;
  --bg-g-primary: #f2f2f7;
  --bg-g-secondary: #fff;
  --label-primary: #333;
  --label-secondary: #999;
  --label-dark-primary: #fff;
  --accent: #ffa056;
  --accent-red: #ff383c;
  --accent-yellow: #ffcc00;
  --accent-green: #34c759;
  --accent-blue: #0088ff;
  --accent-purple: #cb30e0;
  --accent-pink: #ff2d55;
  /* size */
  --m-padding-x: 16px;
  --m-padding-y: 0;
  --padding-primary: 22px;
  --gap-section: 48px;
  --gap-primary: 20px;
  --gap-secondary: 10px;
  --border-radius: 38px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: transparent;
}

li {
  list-style-type: none;
}

summary {
  display: block;
}

/* mobile */

body {
  background-color: var(--bg-primary);
}

section {
  padding: var(--gap-section) 0;
}

.container {
  padding: var(--m-padding-y) var(--m-padding-x);
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-direction: column;
  gap: 0.25rem;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

/* Banner */
.carousel {
  width: 100%;
  height: 60vh;
  display: flex;
  gap: var(--gap-secondary);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  anchor-name: --carousel;
}

.carousel > li {
  flex: 0 0 100%;
  background: var(--bg-secondary);
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.carousel::scroll-button(*) {
  border: none;
  position: absolute;
  position-anchor: --carousel;
  top: calc(anchor(top) + 30vh - 40px);
  font-size: 20px;
  line-height: 40px;
  background: none;
  cursor: pointer;
}

.carousel::scroll-button(left) {
  font-family: "Material Symbols Rounded";
  content: "\e5e0" / "Previous";
  left: var(--m-padding-x);
}

.carousel::scroll-button(right) {
  font-family: "Material Symbols Rounded";
  content: "\e5e1" / "Next";
  right: var(--m-padding-x);
}

.carousel::scroll-marker-group {
  position: absolute;
  position-anchor: --carousel;
  top: calc(anchor(bottom) + 10px);
  left: anchor(center);
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
}

li::scroll-marker {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
}

li::scroll-marker:target-current {
  background-color: black;
}

/* End banner */
/* Freq-asked */
summary::after {
  margin-left: var(--padding-primary);
  display: inline-block;
  font-family: "Material Symbols Rounded";
  content: "\e5e1";
  transition: 0.2s;
}

details[open] > summary::after {
  transform: rotate(90deg);
}
/* End freq-asked */
/* CTA */
.marquee {
  width: 100%;
  overflow: hidden;
  --duration: 20s;
  --item-width: 140px;
  --num-of-items: 6;
  --item-gap: 10px;
  --track-width: calc(
    (var(--item-width) + var(--item-gap)) * (var(--num-of-items) - 1)
  );
  /* -1是會有一個marquee item在休息，所以寬度可以少一格。控制gap也比較方便 */
}

.marquee-track {
  container-type: inline-size;
  width: max-content;
  height: 200px;
  display: grid;
  grid-template-columns: var(--track-width) [onstage] 0px [standby];
}

.marquee-track img {
  width: var(--item-width);
  height: auto;
  left: 0;
  grid-area: standby;
  animation: linear var(--duration) marquee-run infinite;
  animation-delay: calc(
    var(--duration) / var(--num-of-items) * var(--item-sequence) * -1
  );
}

.marquee-track:hover img {
  animation-play-state: paused;
}

.marquee-track img:first-child {
  --item-sequence: 1;
}

.marquee-track img:nth-child(2) {
  --item-sequence: 2;
}

.marquee-track img:nth-child(3) {
  --item-sequence: 3;
}

.marquee-track img:nth-child(4) {
  --item-sequence: 4;
}

.marquee-track img:nth-child(5) {
  --item-sequence: 5;
}

.marquee-track img:nth-child(6) {
  --item-sequence: 6;
}

@keyframes marquee-run {
  0% {
  }
  100% {
    transform: translateX(calc(-100cqw - 100%));
  }
}
/* End CTA */
/* News */
#News > .container {
  flex-direction: row;
  flex-wrap: wrap;
}

#product,
#food,
#journaling {
  display: none;
}

#News label {
  cursor: pointer;
  display: block;
  text-align: center;
  width: 32%;
}

.news-group {
  display: none;
}

.tabs-radio:checked + label + .news-group {
  display: initial;
  order: 1;
  width: 100%;
}
/* End news */
